.section-title {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.section-title span {
    background: var(--color-primary-light);
    font-size: 1.6rem;
    padding: 0.8rem;
    border-radius: 1rem;
    color: black;
}

.section-title span svg{
    display: block;
    width: fit-content;
}