
.values-container{
    display: grid;
    grid-template-columns: 38% 50%;
    gap: 12%;
}

.values-image{
    filter: saturate(0.25);
    height: 100%;
    transition: var(--transition);
    border-radius: 3rem 0 3rem 0;
}

.values-image:hover{
    filter: saturate(1);
}

.values-right > p{
    margin: 1.5rem 0 5rem;
}

.values-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.4rem 2.4rem;
}

.value-card{
    border-radius: 0 3rem 0 3rem;
}

.value-card span{
    border-top-right-radius: 3rem;
}

.value-card small{
    padding-bottom: 2rem;
}

/* meida queries for medim devices */

@media screen and (max-width: 1024px) {

    .values{
        width: 84%;
        margin-top: 4rem;
        margin-inline: auto;
    }

    .values-container{
        grid-template-columns: 1fr;
        justify-content: center;
        gap: 3rem;
    }

    .values-wrapper{
        gap: 4rem 3rem;
    }
}


/* meida queries for small devices */

@media screen and (max-width: 600px) {
    .values-wrapper{
        grid-template-columns: 1fr;
        gap: 3rem;
    }
    .values-card{
        width: 84%;
        margin-inline: auto;
        padding: 2.5rem 1.5rem;
    }
}