.programs{
    padding-top: 4rem;
    margin-top: 0;
}

.programs-wrapper{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 3rem;
    padding-top: 4rem;
}

.programs-program a{
    display: flex;
    align-items: center;
    margin-top: 3rem;
    justify-content: center;
    background: black;
    color: var(--color-secondary-light);
}

.programs-program:hover a{
    background: var(--color-primary-light);
    color: black;
}

/* meida queries for medim devices */

@media screen and (max-width: 1024px) {
    .programs-wrapper{
        grid-template-columns: 1fr 1fr;
    }
}

/* meida queries for small devices */

@media screen and (max-width: 600px) {
    .programs-wrapper{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    .programs-program{
        width: 84%;
        margin-inline: auto;
        padding: 2rem .5rem;
    }

    .programs-program a{
        margin-top: 1.5rem;
    }
}